@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

#restOfBody {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

* {
    transition: 2s;
}

body {
    margin-top: 60px;
    transition: 0s;
    font-family: 'Raleway', sans-serif;
}



.title {
    text-align: center;
    font-size: 15vw;
    display: inline-block;
    margin: 0 auto;
}

#subtitle {
    font-size: 2.5vw;
    display: inline;
}

#cursor {
    opacity: 0;
    display: inline-block;
    width: .2vw;
    height: 2.8vw;
    vertical-align: -.5vw;
    margin-left: -3px;
    background-color: black;
}

#fade {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 25%;
    width: 0px;
    background-image: linear-gradient(to right, #ff00 0%, #fff 30%, #fff 100%);
    -moz-animation: show 1.2s ease-in;
    -webkit-animation: show 1.2s linear;
    -ms-animation: show 1.2s linear;
    -o-animation: show 1.2s linear;
    animation: show 1.2s ease-out;
}

@keyframes show {
    0% {
       width: 65%;
    }

    100% {
        width: 0px;
    }
}

@-webkit-keyframes show {
    0% {
       width: 65%;
    }

    100% {
        width: 0px;
    }
}

@-moz-keyframes show {
    0% {
       width: 65%;
    }

    100% {
        width: 0px;
    }
}

@-ms-keyframes show {
    0% {
       width: 65%;
    }

    100% {
        width: 0px;
    }
}

@-o-keyframes show {
    0% {
       width: 65%;
    }

    100% {
        width: 0px;
    }
}



section {
    text-align: center;
}


navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 2px solid blue;
    width: 100vw;
    height: 50px;
}