@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

body {
    font-family: 'Ubuntu', sans-serif;
    outline: none;
    margin: 0px;
    margin-top: 50px;
    transition: all 1s linear;
}

:root {
    --main-color-light: #70caff;
    --main-color: #279AF1;
    --main-color-dark: #006cbe;
}

.nav {
    background-color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid var(--main-color);
    display: flex;
    z-index: 8;
}

.arrow {
    vertical-align: middle;
    margin-bottom: 5px;
    margin-left: -7px;
}

.navItem:not(.container):hover {
    color: white;
    background-color: var(--main-color);
}

.displayBlock {
    display: block !important;
}

.displayNone {
    display: none !important;
}

.widthAlert {
    display: none;
}

.drop {
    width: 100%;
    display: flex;
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
    flex-flow: row wrap;
    justify-content: space-around;
    display: none;
    position: fixed;
    top: 50px;
    z-index: 8;
}

.drop .minContainer {
    flex-grow: 1;
    border-right: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    padding: 10px;
    margin: 0px;
}

.conHeader {
    font-family: 'Fredoka', sans-serif;
    color: black;
    font-size: 20px;
}

.item {
    padding: 5px;
}

.super {
    vertical-align: super;
    font-size: small;
}

/* Computer */
@media screen and (min-width: 600px) {

    .right {
        display: flex;
        margin-left: auto;
    }

    .container {
        display: flex;
    }

    .Menu {
        display: none !important;
    }

    .navItem {
        height: 50px;
        width: 120px;
        text-align: center;
        vertical-align: middle;
        line-height: 50px;
        transition: 0.2s;
        color: var(--main-color-dark);
    }

    .Icon {
        line-height: 62px;
        width: 80px;
    }
}

/* Iphone */
@media screen and (max-width: 599px) {
    .Menu {
        margin-left: auto;
    }

    .right {
        display: flex;
    }

    .container {
        color: black;
        width: 120px;
        height: 150px;
        margin-top: 50px;
        right: 0;
        position: absolute;
        border-right: var(--main-color);
        border-bottom: var(--main-color);
    }

    .container div {
        background-color: white;
        border-left: 2px solid var(--main-color);
    }

    .container div:last-child {
        border-bottom: 2px solid var(--main-color);
    }

    .container div:first-child {
        border-top: 2px solid var(--main-color);
    }

    .navItem {
        height: 50px;
        width: 120px;
        text-align: center;
        vertical-align: middle;
        line-height: 50px;
    }

    .navItem:not(.Menu) {
        display: none;
    }

    .Icon {
        line-height: 62px;
        width: 60px;
    }
}